Django==1.10.5
django-allauth==0.30.0
django-extensions==1.7.5
django-rest-auth==0.9.0
djangorestframework==3.5.3
oauthlib==2.0.1
python-openid==2.2.5
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
